# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
library-backend/.env
# Environment variable files
.env
.env.*
*.env
*.env.*
.env.local
.env.development
.env.production
.env.test

# Build output
dist/
build/
tmp/

# System files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Coverage reports
coverage/
*.lcov

# Optional: MongoDB data dumps
dump/

# Misc
*.tgz
*.zip